<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path, html: {class: 'form-signin'}) do |f| %>

      <%= f.label :email, class: 'sr-only' %>
      <%= f.email_field :email, class: 'form-control', placeholder: 'Email adresa', autofocus: true %>

      <%= f.label :password, class: 'sr-only' %>
      <%= f.password_field :password, class: 'form-control', placeholder: 'Lozinka' %>
      
      <%= link_to "Zaboravio lozinku?", new_password_reset_path %>

      <%= f.submit "Prijava", class: "btn btn-lg btn-primary btn-block" %>
      
      <p>Nisi registriran? <%= link_to "Registriraj se!", signup_path %></p>
    <% end %>
  </div>
</div>