<p id="notice"><%= notice %></p>

<h1>Listing Zadataks</h1>

<%= form_tag zadataks_path, :method => 'get', :autocomplete => 'on' do %>
  <p>
    <%= text_field_tag :tag, nil, {"data-autocomplete-source": Tag.order(:name).map(&:name).to_json} %>
    
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<table>
  <thead>
    <tr>
      <th>Problem</th>
      <th>Solution</th>
      <th>Taggs</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @zadataks.each do |zadatak| %>
      <tr>
        <td><%= zadatak.problem %></td>
        <td><%= zadatak.solution %></td>
        <td><%= raw tag_links(zadatak.all_tags) %></td>
        <td><%= link_to 'Show', zadatak %></td>
        <td><%= link_to 'Edit', edit_zadatak_path(zadatak) %></td>
        <td><%= link_to 'Destroy', zadatak, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Zadatak', new_zadatak_path %>
