<p id="notice"><%= notice %></p>

<%= form_tag zadataks_path, :method => 'get', :autocomplete => 'on' do %>
  <p>
    <%= text_field_tag :tag, nil, {"data-autocomplete-source": Tag.order(:name).map(&:name).to_json} %>
    
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

 

<ul class="list-group list-group-flush">
    <% @zadataks.each do |zadatak| %>
        <li class="list-group-item">
            <p>
                <%= raw zadatak.problem %>                
            </p>       
            <p>
                       <%= link_to 'Show', zadatak %>
        <% if current_user && current_user.admin? %>
          <%= link_to 'Edit', edit_zadatak_path(zadatak) %>
          <%= link_to 'Destroy', zadatak, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>              
            </p>
            <p>
                <% zadatak.all_tags.split(",").each do |tag| %>
                      <%= link_to tag.strip, tag_path(tag.strip), class:"label label-info" %>
                <% end %>
            </p>
        </li>
    <% end %>
</ul>

<br>

<% if current_user && current_user.admin? %>
  <%= link_to 'New Zadatak', new_zadatak_path %>
<% end %>