<% provide(:title, 'Zadatak') %>

<p id="notice"><%= notice %></p>

<p>
  <%= @zadatak.problem %>
</p>

<p>
  <strong>Rjesenje:</strong>
  <%= @zadatak.solution %>
</p>

<% if current_user && current_user.admin? %>
  <%= link_to 'Edit', edit_zadatak_path(@zadatak) %> |
<% end %>
<%= link_to 'Back', zadataks_path %>

<button type="button" class="btn btn-info" id="s-h-comments">
  Comments (<%= @zadatak.comments.count %>)
</button>

<div class="row" id="comments">
  <div class="col-md-12">
    <% if @zadatak.comments.any? %>
      <ol class="comments">
        <%= render @comments %>
        <% if logged_in? %>
          <%= render 'comments/comment_form' %>
        <% end %>
      </ol>
      <%= will_paginate @comments %>
    <% end %>
  </div>
</div>