<% provide(:title, 'Zadatak') %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Problem:</strong>
  <%= @zadatak.problem %>
</p>

<p>
  <strong>Solution:</strong>
  <%= @zadatak.solution %>
</p>

<%= link_to 'Edit', edit_zadatak_path(@zadatak) %> |
<%= link_to 'Back', zadataks_path %>


<div class="row">
  <div class="col-md-12">
    <% if @zadatak.comments.any? %>
      <h3>Comments (<%= @zadatak.comments.count %>)</h3>
      <ol class="comments">
        <%= render @comments %>
        <%= render 'shared/comment_form' %>
      </ol>
      <%= will_paginate @comments %>
    <% end %>
  </div>
</div>